127.0.0.1       localhost
{{ ip.gnix1 }}	{{ hosts.h1 }}
{{ ip.gnix2 }}	{{ hosts.h2 }}
{{ ip.back1 }}	{{ hosts.h3 }}
{{ ip.back2 }}	{{ hosts.h4 }}
{{ ip.storage }}	{{ hosts.h5 }}
{{ ip.db }}	{{ hosts.h6 }}
